@import "../../sassMixin/cleatFixMixin";
@import "../../sassMixin/radiusMixin";
@import "../../sassMixin/fontMixin";
#AboutUsChild {
  display: flex;
  justify-content: center;
  margin-top: 53px;
  margin-bottom: 65px;
  @include clearFix;
  .ElementPanel {
    margin-right: 64px;
    float: left;
    .up {
      @include clearFix;
      margin: 37px 0 45px 0;
      .left, .right {
        vertical-align: middle;
        float: left;
      }
      .left {
        width: 76px;
        height: 76px;
        @include radius(100%);
        background: #46B2ED url("../../static/icon.png") no-repeat center;
        margin-right: 32px;
      }
      .right {
        .title {
          span {
            @include selTitleLeft;
          }
        }
        .feature {
          span {
            @include selTitleDown;
          }
        }
      }
    }
    .down {
      p {
        @include selDetailed;
      }
    }
    .up, .down {
      margin-left: 32px;
      margin-right: 32px;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}