@import '../../sassMixin/containerMixin';
@import '../../sassMixin/radiusMixin';
#IndexBody {
  @include containerMixin;
  background: white;
  @include radius(20px);
  .SelPanel {
    .detailed_box {
      .detailed {
        text-align: center;
      }
    }
    &:first-child {

      .detailed_box {
        .detailed {
          text-align: left;
          text-indent: 2em;
        }
      }
    }
  }
  .departments {
    #DepartmentChild {
      margin-bottom: 69px;
    }
  }
  .members {
    overflow: hidden;
    #MembersChild {
      position: relative;
    }
  }
  .commentsList {
    padding-top: 0;
    .detailed_box {
      margin: 40px 0 0;
    }
  }
}