@import "../../sassMixin/containerMixin";
@import "../../sassMixin/cleatFixMixin";
@import "../../sassMixin/fontMixin";
#IndexFooter {
  margin-top: 15px;
  background: #F5F5F5;
  z-index: -1;
  position: relative;
  height: 157px;
  .container {
    @include containerMixin;
    @include clearFix;
    //display: flex;
    //align-items: center;
    //justify-content: space-between;
    .logo_box {
      margin-top: 60px;
      float: left;
      vertical-align: middle;
      //display: inline-block;
      #Logo {
        display: inline-block;
        vertical-align: middle;
        .icon_box {
          .left {
            background: #FBEBCA;
            &:after {
              background: #FACA5F;
            }
          }
          .right {
            background: #FFAB00;
          }
        }
        .name_box {
          //display: none
          margin-left: 21px;
          .Eng {
            color: #FFAB00;
          }
          .CN {
            display: none;
          }
        }
      }
      .other {
        display: inline-block;
        vertical-align: middle;
        margin-left: 7px;
        span {
          vertical-align: middle;
          @include memberGroupByDepart;
          color: #FACE70;
        }
      }
    }
    .info_box {
      margin-top: 38px;
      float: right;
      //display: inline-block;
      text-align: right;
      p {
        @include footer;
      }
    }
  }
}