@import "../../sassMixin/radiusMixin";
@import "../../sassMixin/cleatFixMixin";
@import "../../sassMixin/fontMixin";
#JoinUs {
  opacity: 0;
  .popLayer {
    background: gray;
    height: 100%;
    position: absolute;
    overflow: hidden;
    width: 100%;
    z-index: 999;
    opacity: 0.5;
  }

  .popBox {
    background: transparent;
    margin: auto;
    z-index: 999;
    position: fixed;
    overflow: hidden;
    width: 100%;
    .form_box {
      margin: 179px auto;
      @media only screen and (min-device-height: 900px) {
        margin: 120px auto;
        width: 1300px;
        height: 721px;
      }
      @media only screen and (max-device-height: 899px) {
        margin: 50px auto;
        width: 900px;
        height: 600px;
      }
      background: #FFFFFF;
      @include radius(20px);
      .button_box {
        padding-top: 35px;
        padding-right: 38px;
        @include clearFix;
        #CloseButton {
          float: right;
        }
      }
      .form_sel {
        display: flex;
        justify-content: center;

        .form_sel_box {
          @include clearFix;
          li {
            float: left;
            a {
              display: inline-block;
              text-align: center;
              width: 148px;
              height: 42px;
              @include radius(21px);
              span {
                @include joinUsUnSelected;
                line-height: 44px;
              }
              &:first-child {
                margin-right: 63px;
              }
              &:last-child {
                margin-left: 63px;
              }
            }
            .selected {
              background: #00A8EC;
              span {
                @include joinUsSelSelected;
                line-height: 44px;
              }
            }
          }
        }
      }
      .mode_func {
        display: flex;
        justify-content: center;
        @media only screen and (min-device-height: 900px) {
          margin-top: 107px;
        }
        @media only screen and (max-device-height: 899px) {
          margin-top: 70px;
        }
      }
    }
  }

  .popBox, .popLayer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
  }
}