@import "../../sassMixin/radiusMixin";
@import "../../sassMixin/cleatFixMixin";
@import "../../sassMixin/fontMixin";
#JoinUs {
  opacity: 0;
  .top_box {
    display: flex;
    justify-content: center;
    align-items: center;
    #Logo {
      margin-top: 30px;
      margin-right: 120px;
      padding-bottom: 30px;
      vertical-align: middle;
      .name_box {
        .Eng {

        }
        .CN {
          display: none;
        }
      }
    }
  }
  .form_box {
    background: #FFFFFF;
    .form_sel {
      padding-top: 30px;
      display: flex;
      justify-content: center;
      .form_sel_box {
        @include clearFix;
        li {
          float: left;
          a {
            display: inline-block;
            text-align: center;
            width: 148px;
            height: 42px;
            @include radius(21px);
            span {
              @include joinUsUnSelected;
              line-height: 44px;
            }
            &:first-child {
              margin-right: 63px;
            }
            &:last-child {
              margin-left: 63px;
            }
          }
          .selected {
            background: #00A8EC;
            span {
              @include joinUsSelSelected;
              line-height: 44px;
            }
          }
        }
      }
    }
    .mode_func {
      display: flex;
      justify-content: center;
      margin-top: 70px;
    }
  }
}