@charset "UTF-8";
.MemberDetailed {
  cursor: default; }
  .MemberDetailed .close_button_box {
    /* 触发 hasLayout */
    zoom: 1; }
    .MemberDetailed .close_button_box:after {
      content: " ";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
    .MemberDetailed .close_button_box #CloseButton {
      right: 38px;
      top: 35px;
      cursor: pointer;
      float: right;
      position: absolute; }
  .MemberDetailed .title_box {
    margin-top: 31px;
    margin-bottom: 50px; }
    .MemberDetailed .title_box .title_small {
      color: #FFFFFF;
      font-size: 24px;
      font-weight: normal;
      font-family: SourceHanSansCN-Regular;
      line-height: 36px; }
    .MemberDetailed .title_box .title_large {
      color: #FFFFFF;
      font-size: 36px;
      font-weight: normal;
      font-family: SourceHanSansCN-Regular;
      line-height: 36px; }
  .MemberDetailed .content {
    position: relative; }
    .MemberDetailed .content .departmentList {
      display: flex;
      justify-content: center; }
      .MemberDetailed .content .departmentList ul li {
        vertical-align: middle;
        display: inline-block;
        margin-right: 30px; }
        .MemberDetailed .content .departmentList ul li a {
          color: #FFFFFF;
          font-size: 18px;
          font-weight: normal;
          font-family: SourceHanSansCN-Regular;
          line-height: 0;
          width: 89px;
          height: 39px;
          background: transparent;
          -webkit-border-radius: 20px;
          -moz-border-radius: 20px;
          border-radius: 20px;
          display: block;
          text-align: center;
          line-height: 39px; }
        .MemberDetailed .content .departmentList ul li:last-child {
          margin-right: 0; }
      .MemberDetailed .content .departmentList ul .selected a {
        background: #FFFFFF;
        color: transparent; }
    .MemberDetailed .content .memberList {
      margin: 117px auto 0;
      width: 1091px;
      overflow: hidden; }
      .MemberDetailed .content .memberList .memberList_container {
        width: 2182px;
        margin-left: 0; }
        .MemberDetailed .content .memberList .memberList_container .father_item {
          float: left;
          width: 1091px;
          display: flex;
          justify-content: center;
          margin: 0 auto;
          /* 触发 hasLayout */
          zoom: 1; }
          .MemberDetailed .content .memberList .memberList_container .father_item:after {
            content: " ";
            display: block;
            height: 0;
            clear: both;
            visibility: hidden; }
          .MemberDetailed .content .memberList .memberList_container .father_item .child_item {
            cursor: pointer;
            float: left;
            margin-right: 130px; }
            .MemberDetailed .content .memberList .memberList_container .father_item .child_item:last-child {
              margin-right: 0; }
            .MemberDetailed .content .memberList .memberList_container .father_item .child_item a .img {
              width: 139px;
              height: 139px;
              position: relative;
              -webkit-border-radius: 100%;
              -moz-border-radius: 100%;
              border-radius: 100%; }
              .MemberDetailed .content .memberList .memberList_container .father_item .child_item a .img img {
                width: 100%;
                height: 100%; }
            .MemberDetailed .content .memberList .memberList_container .father_item .child_item a .name {
              margin-top: 22px;
              margin-bottom: 5px;
              text-align: center; }
              .MemberDetailed .content .memberList .memberList_container .father_item .child_item a .name span {
                color: #FFFFFF;
                font-size: 24px;
                font-weight: normal;
                font-family: SourceHanSansCN-Regular;
                line-height: 30px; }
            .MemberDetailed .content .memberList .memberList_container .father_item .child_item a .description {
              text-align: center; }
              .MemberDetailed .content .memberList .memberList_container .father_item .child_item a .description span {
                color: #FFFFFF;
                font-size: 18px;
                font-weight: normal;
                font-family: SourceHanSansCN-Regular;
                line-height: 30px; }
      .MemberDetailed .content .memberList .page_selection {
        padding-top: 25px;
        width: 1091px;
        display: flex;
        justify-content: center; }
        .MemberDetailed .content .memberList .page_selection .selection {
          cursor: pointer;
          width: 58px;
          height: 14px;
          display: inline-block;
          margin-right: 10px;
          background: #FFFFFF;
          opacity: 0.5;
          -webkit-border-radius: 7px;
          -moz-border-radius: 7px;
          border-radius: 7px; }
          .MemberDetailed .content .memberList .page_selection .selection:last-child {
            margin-right: 0; }
        .MemberDetailed .content .memberList .page_selection .selected {
          opacity: 1;
          background: #FFFFFF; }
      .MemberDetailed .content .memberList .loading {
        left: 0;
        top: 100px;
        right: 0;
        position: absolute;
        margin: auto; }

/*# sourceMappingURL=MemberDetailed.css.map */
