@import "../../sassMixin/cleatFixMixin";
@import "../../sassMixin/fontMixin";
#Status {
  @include clearFix;
  .input_email_box {
    display: flex;
    justify-content: center;
    @media only screen and (min-device-height: 874px) {
      margin-bottom: 113px;
    }
    @media only screen and (max-device-height: 873px) {
      margin-bottom: 80px;
    }
    .join_us_input {
      margin-right: 16px;
      vertical-align: middle;
    }
    button {
      position: relative;
      vertical-align: middle;
    }
  }
  .status_detailed {
    float: left;
    @media only screen and (min-device-height: 874px) {
      margin-right: 88px;
      .circle {
        width: 130px;
        height: 130px;
        border-width: 14px;
        .dot {
          width: 20px;
          height: 20px;
        }
      }
    }
    @media only screen and (max-device-height: 873px) {
      margin-right: 50px;
      .circle {
        width: 100px;
        height: 100px;
        border-width: 10px;
        .dot {
          width: 15px;
          height: 15px;
        }
      }
    }
    &:last-child {
      margin-right: 0;
    }
    .img {
      margin-bottom: 22px;
    }
    .description {
      text-align: center;
      .stage {
        margin-bottom: 10px;
        @include stageMessage;
      }
      .result {
        @include statusMessage;
      }
      .refused {
        color: #D60E47
      }
      .passed {
        color: #58C4FF
      }
      .pending {
        color: #A8A8A8
      }
    }
  }
}