@import "../../sassMixin/radiusMixin";
@import "../../sassMixin/fontMixin";
#WorksDetailed {
  position: relative;
  height: 300px;
  .name {
    //left: 0;
    //right: 0;
    //position: absolute;
    text-align: center;
    @include works;
    z-index: 999;
    padding: 23px 0 20px 0;
  }
  .window {
    position: relative;
    overflow: hidden;
    height: 390px;
    .images {
      position: absolute;
      margin: 0;
      padding: 0;
      height: 299px;
      width: 4500px;
      left: -1593px;
      .sel {
        padding: 23px 19px 26px 19px;
        background: #B7E6FF;
        display: inline-block;
        vertical-align: middle;
        overflow: hidden;
        margin: 0;
        @include radius(20px);
        z-index: 5;
        .img {
          position: relative;
          img {
            position: relative;
            width: 493px;
            height: 250px;
            z-index: 6;
          }
        }
      }
      .center {
        //
        margin-left: -220px;
        margin-right: -194px;
        //
        z-index: 7;
        position: relative;
        padding: 43px 27px 45px 30px;
        background: #19AEFF;
        .img {
          img {
            width: 595px;
            height: 302px;
          }
        }
      }
    }
  }
  .detailed {
    .button_box {
      width: 163px;
      margin: 0 auto;
    }
  }
}

