@import "../sassMixin/fontMixin";
@import "../sassMixin/radiusMixin";
#Comment {
  @include radius(20px);
  background: #B7E6FF;
  padding: 20px 15px 13px 60px;
  position: relative;
  .textarea_box {
    textarea {
      width: 80%;
      height: 75px;
      background: #FFFFFF;
      vertical-align: middle;
      @include joinUsPlaceHolder
    }
    button {
      width: 91px;
      height: 89px;
      padding: 4px 25px;
      display: inline-block;
      vertical-align: middle;
      margin-left: 50px;
      line-height: 22px;
    }
  }
  .words_length_table {
    position: absolute;
    right: 260px;
    bottom: 70px;
    @include joinUsPlaceHolder;
  }
  .validate_box {
    margin-top: 13px;
    #validate_code_box, input {
      vertical-align: middle;
    }
    #validate_code_box {
      margin-right: 15px;
      display: inline-block;
      cursor: pointer;
      width: 75px;
      height: 32px;
      img {
        width: 75px;
        height: 32px;
        border-radius: 10px;
      }
    }
  }
}