@import "../sassMixin/radiusMixin";
#Comment {
  @include radius(20px);
  background: #B7E6FF;
  padding: 20px 15px 13px 19px;
  .textarea_box {
    textarea {
      background: #FFFFFF;
    }
  }
  .validate_box {
    margin-top: 13px;
    #validate_code_box, input {
      vertical-align: middle;
    }
    #validate_code_box {
      margin-right: 15px;
      display: inline-block;
      cursor: pointer;
      width: 75px;
      height: 32px;
      img {
        width: 75px;
        height: 32px;
      }
    }
    button {
      float: right;
    }
  }
}