@import "../sassMixin/cleatFixMixin";
@import "../sassMixin/radiusMixin";
@import "../sassMixin/containerMixin";
@import "../sassMixin/fontMixin";
#HistoriesContainer {
  @include containerMixin;
  height: 268px;
  background: #B7E6FF;
  position: relative;
  @include radius(20px);
  .window {
    height: 100%;
    overflow: hidden;
    //width: ;
    position: relative;
    .container{
      width: 2600px;
      height: 100%;
      @include clearFix;
      .father_item {
        width: 1300px;
        float: left;
        display: flex;
        justify-content: center;
      }
      .sel {
        margin-top: 33px;
        vertical-align: middle;
        text-align: left;
        display: inline-block;
        width: 324px;
        height: 185px;
        border-right: 1px solid #FFFFFF;
        &:last-child {
          border: 0;
        }
        .detailed {
          margin-top: 32px;
          margin-left: 60px;
          margin-right: 60px;
          .title {
            span {
              @include detailedTitleSmall;
            }
          }

          .content {
            span {
              @include departmentName;
            }
          }
        }
      }
    }
  }
  .page_selection {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
    .selection {
      cursor: pointer;
      width: 58px;
      height: 14px;
      display: inline-block;
      margin-right: 10px;
      background: #FFFFFF;
      opacity: 0.5;
      @include radius(7px);
      &:last-child {
        margin-right: 0;
      }
    }
    .selected {
      background: #FFFFFF;
      opacity: 1;
    }
  }
  .blue_arrow_box {
    left: 108px;
    position: absolute;
    z-index: 1;
    .blue_arrow {
      border: 12px solid #FFFFFF;
      border-top-color: #B7E6FF;
    }
  }
}