@import "../sassMixin/radiusMixin";
.right {
  position: relative;
  .short_edge, .long_edge {
    position: absolute;
    left: 0;
    top: 0;
    background: #00A8EC;
    @include radius(10px);
  }
  .short_edge {
    transform: rotate(-45deg);
    width: 60px;
    height: 12px;
    left: -20px;
    top: -6px;
  }
  .long_edge {
    transform: rotate(45deg);
    width: 30px;
    height: 12px;
    left: -31px;
    top: 2px;
  }
}